* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 1rem;
}
#toxina {
    margin-top: 1rem;
    width: 50vw;
    height: 30vw;
    border-radius: 1rem;
    margin-left: 1rem;
}
#venom   {
    margin-top: 1rem;
    width: 25vw;
    height: 20vw;
    border-radius: 1rem;
    margin-left: 1rem;
}
.divisinha p{
    background-color: blueviolet;
}